<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Event Form</title>
  </head>
  <body>
    <header>
      <a href="/"><button>Home</button></a>
      <h4>Events</h4>
      <a href="/events/"><button>Events</button></a>
    </header>
    <h2>Update Form</h2>

    <form class="add_form" action="/events/<%=event.id%>/edit" method="POST">
      <input
        type="text"
        name="title"
        placeholder="enter Title"
        value="<%=event.title%>"
      />
      <br /><br />
      <input
        type="text"
        name="summary"
        placeholder="enter summary"
        value="<%=event.summary%>"
      /><br /><br />
      <input
        type="text"
        name="host"
        placeholder="enter host"
        value="<%=event.host%>"
      /><br /><br />
      <input
        type="date"
        name="start_date"
        placeholder="enter start_date"
        value="<%=start_date%>"
      /><br /><br />
      <input
        type="date"
        name="end_date"
        placeholder="enter end_date"
        value="<%=end_date%>"
      /><br /><br />
      <input
        type="text"
        name="location"
        placeholder="enter location"
        value="<%=event.location%>"
      /><br /><br />
      <button class="btn2" type="submit">Edit Event</button>
    </form>
  </body>
</html>
